
<section class="container">
	

	<div id="billing" class="card">
		<header>
			<h1>Billing for July 2014</h1>
			<span class="subhead name">Johnny Appleseed</span>
			<span class="subhead phone">+1 (412) 123 4321</span>
		</header>
		<div class="content-container col-3">
			<div class="content plan">
				<div class="thumbnail plan"></div>
				<div class="desc">
					<span>Data Shared Value Plan 10GB</span>
					<span class="link">View plan details</span>
				</div>
				<div>
					
				</div>
			</div>
			<div class="content bill">
				<div class="thumbnail"></div>
				<div class="desc">
					<span>Most recent bill: $32.70</span>
					<span class="alert">Extra charges: $23.00</span>
					<span class="link">View more details</span>
				</div>
				
			</div>
			<div class="content payment">
				<span class="label">Total Outstanding Balance</span>
				<h1 class="price">$55.70</h1>
				<a href="#" class="pay">Pay Now</a>
				<span class="days-left alert">7 days left to pay</span>
				<span class="small">Due on 7 July 2014</span>
			</div>
		</div>
	</div>

	<div id="usage" class="card">
		<header>
			<h1>Current Month Usage</h1>
			<!-- <span class="alert">
			<i class="fa fa-exclamation fa-2x"></i>
			You seem to be using a lot more data than minutes. Would you like to check out our Data Super Value plan?</span> -->
			
		</header>
		<div class="content-container col-3">
			<div class="content phone chart">
				<div class="thumbnail"></div>
				<span class="used">202</span>
				<span class="remaining">of 300</span>
				<span class="type">minutes used</span>
			</div>
			<div class="content sms chart">
				<div class="thumbnail"></div>
				<span class="used">202</span>
				<span class="remaining">of 300</span>
				<span class="type">messages sent</span>
			</div>
			<div class="content data chart">
				<div class="thumbnail"></div>
				<span class="used">202</span>
				<span class="remaining">of 300</span>
				<span class="type">gigabytes used</span>
			</div>
		</div>
		<div class="action-bar">
			<div class="action">View more details</div>
		</div>
	</div>

	<div id="call-history" class="card">
		<header>
			<h1>Longest Calls</h1>
			
			
		</header>
		<div class="content-container col-3">
			<div class="content">lala</div>
			<div class="content">lala</div>
			<div class="content">lala</div>
			
		</div>
	</div>


	

	

	

</section>	




