
<section class="container">
	

	<div id="billing" class="card">
		<header>
			<h1>Billing for July 2014</h1>
			<span class="name">Johnny Appleseed</span>
			<span class="phone">Johnny Appleseed</span>
		</header>
		<div class="content-container col-3">
			<div class="content">lala</div>
			<div class="content">lala</div>
			<div class="content">lala</div>
		</div>
	</div>

	<div id="usage" class="card">
		<header>
			<h1>Current Month Usage</h1>
			<span class="alert">
			<i class="fa fa-exclamation fa-2x"></i>
			You seem to be using a lot more data than minutes. Would you like to check out our Data Super Value plan?</span>
			
		</header>
		<div class="content-container col-3">
			<div class="content">lala</div>
			<div class="content">lala</div>
			<div class="content">lala</div>
		</div>
		<div class="action-bar">
			<div class="action">View more details</div>
		</div>
	</div>

	<div id="call-history" class="card">
		<header>
			<h1>Longest Calls</h1>
			
			
		</header>
		<div class="content-container col-3">
			<div class="content">lala</div>
			<div class="content">lala</div>
			<div class="content">lala</div>
			
		</div>
	</div>


	

	

	

</section>	




