
<div id="toc">

	
</div>

<div id="process" class="container">
	<div class="item">
		
		<div class="col-1">
			<h1>Introduction</h1>
			
		</div>
		<div class="col-2">
			<p>
				At the start of this exercise, I looked up on several phone bills and talked to several people to understand various use cases and their frustrations with the phone bills they were receiving.
			</p>
			<p>Following that, I made the following assumptions to reduce the scope of the design:</p>
			<ul>
				<li>This is a dashboard for an individual who is subscribed to a family plan.</li>
				<li>This phone bill is to be viewed any time during the billing cycle.</li>
				<li>This plan does not have rollover minutes.</li>
				<li>This plan does not have unlimited free messages.</li>
			</ul>
			<p>During the design process, I conducted informal testing with some users and iterated based on feedback.</p>
		</div>

		<div class="clearfix"></div>
	</div>
	

	<div class="item">
		<div class="col-1">
			<h1>1 - Low Fi</h1>
			<p>After doing some research on the key information people expect to see on phone bills, I made several quick sketches to imagine how content could be represented on the page, and where.</p>
		</div>
		<div class="col-2">
			<img src="img/doc/0.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="item">
		<div class="col-1">
			<h1>2 - Mid Fi</h1>
			<p>I transfered the wireframes I drew on paper to Sketch to have a better sense of the actual amount of space I was dealing with. I added a color to highlight some key information.</p>

		</div>
		<div class="col-2">
			<img src="img/doc/2.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="item">
		<div class="col-1">
			<h1>3 - Mid Fi</h1>
			<p>I briefly considered the value of organizing call history into two containers, one displaying longest calls and the other displaying the most called numbers.</p>

			<p>Initially I thought being able to visualize trends of cost would be useful, but I eventually removed it. I felt trends in usage amount over several months may be visually interesting, but do not provide enough information to act on. Also, phone bills tend to cost similar amounts across each month as well.</p>

			<p>Lastly, considering this should be scalable to mobile, complex charts are a challenge to display and interact with on mobile devices due to space constrains.</p>
		</div>
		<div class="col-2">
			<img src="img/doc/3.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="item">
		<div class="col-1">
			<h1>4 - Mid Fi</h1>
			<p>I considered adding a breakdown of data charges as well, but eventually removed it. I also considered displaying the average minutes a person could make for the rest of the billing cycle, to help with minutes/sms/data budgeting.</p>
		</div>
		<div class="col-2">
			<img src="img/doc/6.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="item">
		<div class="col-1">
			<h1>5 - Mid Fi</h1>
			<p>I attempted to add some data visualization, but the content didn't match the pie chart visualization I had in mind.</p>
		</div>
		<div class="col-2">
			<img src="img/doc/7.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="item">
		<div class="col-1">
			<h1>6 - Mid Fi</h1>
			<p>Having a rough sense of how the layout would be like, I started injecting more colors.</p>
		</div>
		<div class="col-2">
			<img src="img/doc/10.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="item">
		<div class="col-1">
			<h1>7 - Hi Fi</h1>
			<p>I found from the people I talked to that people looked at phone bills for one main reason. They want to know if the amount of phone/sms/data they are using are exceeding what is included in their plan. If it doesn't, they don't really need more information. If it does, they want to be able to drill down to find out what/who is responsible for it.</p>

			<p>Based on that feedback, I made several major changes to the content that is immediately visible.</p>

			<p>I felt that tables implied that all information there were equally important, but it is not true in this context. If the goal was to find out what was costing the most minutes, obviously the most salient information should be the duration of the longest calls.</p>
			<p>Also, large tables do not scale very well on mobile devices, so I wanted a way to chunk key information more tightly.</p>
			
		</div>
		<div class="col-2">
			<img src="img/doc/12.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="item">
		<div class="col-1">
			<h1>Mobile</h1>
			<p>As I am getting close to the final iteration, I wanted to know how it could scale down, and did a couple of experiments based on the mobile viewport size.</p>
			
		</div>
		<div class="col-2">
			<img src="img/doc/12m.jpg" alt="">
			<img src="img/doc/12m2.jpg" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="item">
		<div class="col-1">
			<h1>Final</h1>
		
			<p>Check out the <a href="../">interactive prototype</a>!</p>
		</div>
		<div class="col-2">
			<img src="img/doc/final.jpg" alt="">
		
		</div>
		<div class="clearfix"></div>
	</div>

	
	
	
	
</div>